### 절대값 판단

In [1]:
import math 

def abs(a):
    if a>= 0:
        return a
    else:
        return -a

In [2]:
abs(-18)

18

In [8]:
def abs_square(a):
    b = a**2
    return math.sqrt(b)

In [10]:
abs_square(-3)

3.0

### 1부터 n 까지 합

In [19]:
# def sum_t(n):
#     sum = 0
#     for i in range(1,n+1):
#         sum = sum+i
#     return sum

def sum_s(n):
    sum = 0
    for i in range(1, n+1):
        sum = sum+i
    return sum

In [21]:
print(sum_s(10))

55

#### 연속한 숫자 합`

In [22]:
def sum_b(n):
    return n*(n+1)//2



print(sum_b(80))

3240

In [23]:
#제곱합 알고리즘 만들기
def square(n):
    sum = 0
    for i in range(1,n+1):
        sum = sum + i**2
    return sum

In [25]:
print(square(10))

385

### 최댓값 찾기

In [26]:
#리스트 복습
a = [5,7,9]
a

[5, 7, 9]

In [27]:
a[0]

5

In [37]:
a

IndexError: list index out of range

In [30]:
a[-1]

9

In [31]:
a[-2]

7

In [32]:
len(a)

3

In [33]:
2 in a

False

In [43]:
#최대값을 알기위해 차근차근 비교하면서 가는것이 파이썬 알고리즘

def find_max(a):
    n = len(a)
    max_v = a[0]
    for i in range(1,n):
        if a[i]>max_v:
            max_v = a[i]
    return max_v

v = [10,90,42,424,214,32513,23]

print(find_max(v))

32513

In [50]:
#최대값의 위치를 알려주는 예제

def find_max_idx(a):
    n = len(a)
    max_i = 0
    for i in range(1,n):
        if a[i]> a[max_i]:
            max_i = i
    return max_i

v = [10,90,42,424,214,32513,23]

print(find_max_idx(v))

5

In [51]:
v = [10,90,42,424,214,32513,23]

print(find_max_idx(v))

5

In [54]:
def find_max_idx(a):
    max_idx = 0
    n = len(a)
    
    for i in range(1, n):
        if a[i]>a[max_idx]:
            max_idx = i
    
    return max_idx
v = [10,90,42,424,214,32513,23]
print(find_max_idx(v))

5

In [61]:
#숫자 n개를 리스트로 입력바다 최솟값을 구하는 프로그램 제작
def min_l(a):
    n = len(a)
    min = a[0]
    for i in range(1,n):
        if min>a[i]:
            min = a[i]
    return min

z = [10,90,42,42,214,33,23]
print(min_l(z))

10

### 동명이인 찾기

In [62]:
s = set()

In [64]:
s.add(1)

In [65]:
s

{1}

In [66]:
s.add(2)

In [67]:
s

{1, 2}

In [68]:
len(s)

2

In [83]:
#같은 이름을 찾으면 결과에 집어넣자
#두번이상 나온 이름 찾기
name = ["Tom", "james", "Mike", "Tom", "Mike"]
def find_same_name(a):
    n = len(a)
    result = set()
    for i in range(0, n):
        for j in range(i+1, n):
            if a[i]==a[j]:
                result.add(a[i])
    return result


print(find_same_name(name))

{'Tom', 'Mike'}

In [100]:
#같은 이름을 찾으면 결과에 집어넣자
#두번이상 나온 이름 찾기
name = ["Tom", "james", "Mike", "Tom", "Mike"]
def find_name(a):
    n = len(a)
    for i in range(0, n):
        for j in range(i+1, n):
#             if a[i]==a[j]:
            print(a[i],"-",a[j])

find_name(name)

Tom - james
Tom - Mike
Tom - Tom
Tom - Mike
james - Mike
james - Tom
james - Mike
Mike - Tom
Mike - Mike
Tom - Mike

### 팩토리얼

In [102]:
def fac(n):
    f = 1
    for i in range(1, n+1):
        f = f*i
    return f

n = 10
print(fac(n))

3628800

### 재귀호출

In [105]:
def hello():
    print("hello")
    hello()
#
#hello()

In [106]:
#재귀호출로 팩토리얼
def fact(n):
    if n<=1:
        return 1
    else:
        return n*fact(n-1)
    
n=10
print(fact(n))

3628800

In [107]:
#1부터 n까지 합 재귀
def sum(n):
    if n<= 1:
        return 1
    else:
        return n+sum(n-1)
n=10
print(sum(n))

55

### 최대공약수

In [117]:
def gcd(a,b):
    i = min(a,b)
    while True:
        if a%i==0 and b%i==0:
            return i #1만큼 감소시켜서 최대공약수를 찾는ㄱ 과정
        i = i-1
            
print(gcd(12,8))

4

In [123]:
#유클리드 알고리즘
#두수의 최대공약수는 큰수를 작은수로 나눈 나머지의 최대공약수와 같다 즉 gcd(a,b) = gcd(b,a%b)
#유클리드 방식으로 최대 공약수를 구하자

def gcd_u(a,b):
    if b==0:
        return a
    return gcd_u(b, a % b)

print(gcd_u(120,594))

6

In [126]:
#피보나치 수열
def pivo(a):
    if a <= 1:
        return a
    return pivo(a-2)+pivo(a-1)

print(pivo(7))

13

In [143]:
s = "123213"

for i in s[:3]:
    print(i)
for j in s[3:]:
    j

1
2
3

In [142]:
int(i)

3

In [145]:
sum(int(i))

6


### 리스트 안에 특정값 찾기 (순차탐색)

In [147]:
#a: 리스트, x : 찾는값
def search_list(a,x):
    n =len(a)
    for i in range(0,n):
        if x ==a[i]:
            return i
    return -1

v = [18,92,84,24,58,7,33]
print(search_list(v,24))

3

In [151]:
#찾는값이 모두 나오게 해보자
def search_listall(a,x):
    n =len(a)
    res = []
    for i in range(0,n):
        if x == a[i]:
            res.append(i)
    return res
v = [18,92,84,24,58,7,33,58]
print(search_listall(v,58))

[4, 7]

In [173]:
#학생번호, 학생이름을 순차 탐색으로 찾아 돌려주는 함수 만들자
stu_no = [39, 14, 67, 105]
stu_name = ["Justin", "John", "Mike", "Summer"]
#예 39번이면 "Justin", 14번이면 "John"

def student(a,b,x): #a,b = stu_no, stu_name
    n = len(a)
    for i in range(0,n):
        if x == stu_no[i]:
            return stu_name[i]
        
    return "?"
        
print(student(stu_no,stu_name ,39))
print(student(stu_no,stu_name ,40))
print(student(stu_no,stu_name ,105))

Justin
?
Summer

In [171]:
stu_no[3]

105

### 선택 정렬

In [174]:
#쉽게 설명한
#입력: 리스트 a
def find_min_idx(a):
    n = len(a)
    min_idx = 0
    for i in range(1,n):
        if a[i]< a[min_idx]:
            min_idx = i
    return min_idx

In [175]:
def sel_sort(a):
    result = []
    while a:
        min_idx = find_min_idx(a)
        value = a.pop(min_idx)
        result.append(value)
    return result

d = [2,4,5,1,3]
print(sel_sort(d))

[1, 2, 3, 4, 5]

In [194]:
# 일반적인 선택 정렬 알고리즘
# 둘이 합친거라 생각하자
def sel_sort_a(a):
    n = len(a)
    for i in range(0,n-1):
        min_idx = i
        for j in range(i,n):
            if a[j]<a[min_idx]:
                min_idx = j
        a[i], a[min_idx] = a[min_idx], a[i]#두 변수의 값의 위치를 바꿔준것
    
d = [2,4,5,1,3]
sel_sort_a(d)
print(d)

[5, 4, 3, 2, 1]

In [195]:
v = [1,124,5,6436,7,8,80]
def sel_sort_b(a):
    n = len(a)
    for i in range(0, n-1):
        min_idx = i
        for j in range(i, n):
            if a[j]<a[min_idx]:
                min_idx = j
        a[i],a[min_idx] = a[min_idx], a[i]

sel_sort_b(v)
print(v)

[1, 5, 7, 8, 80, 124, 6436]

### 삽입 정렬

In [197]:
#쉽게 설명한 삽입 정렬 
#입력 리스트 a
#출력 정렬된 새 리스트

#리스트 r에서 v 가 들어가야할 위치를 돌려주는 함수
def find_ins_idx(r,v):
    #이미 정렬된 리스트 r의 자료를 앞에서부터 차례로 확인
    for i in range(0, len(r)):
        #v값보다 i 번 위치에 있는 자료값이 크면
        #v가 그 값 바로 앞에 놓여야 정렬 순서가 유지됨
        if v< r[i]:
            return i
    return len(r)

In [198]:
def ins_sort(a):
    result = []
    while a:
        value = a.pop(0)
        ins_idx = find_ins_idx(result, value)
        result.insert(ins_idx, value)
    return result

d = [1,4,5,6,7,3,5,45]
print(ins_sort(d))

[1, 3, 4, 5, 5, 6, 7, 45]

In [234]:
#삽입 정렬 
#입력 : 리스트 ,a
#출력: 없음

def ins_sort_a(a):
    n = len(a)
    for i in range(0,n):
        key = a[i]
        j=i-1
        #리스트를 j번 위치에 있는 값과 key 비교
        while j>=0 and a[j]>key:
            a[j+1] = a[j]
            j = j-1
        a[j+1] =key
d = [1,4,5,6,7,3,5,45]
ins_sort_a(d)
#print(d)
d[-1]

45

### 퀵정렬

In [236]:
#쉽게 설명한 퀵정렬
#입력: 리스트 a

def quick_sort(a):
    n = len(a)
    #종료 조건: 정렬할 리스트의 자료 개수가 한개 이하면 정렬할 필요 없음
    if n<=1:
        return a
    #기준 값을 정하고 기준에 맞춰 그룹을 나누는 과정
    pivot = a[-1] #편의상 리스트의 마지막 값을 기준 값으로 정함
    g1 =[]  #기준값담을 리스트
    g2 =[]  #기준값담을 리스트2
    for i in range(0, n-1):
        if a[i]<pivot:
            g1.append(a[i])
        else:  
            g2.append(a[i])
    return quick_sort(g1)+[pivot]+ quick_sort(g2)
d= [6,9,4,2,121,4,8,1,2,3,4,7]
print(quick_sort(d))

[1, 2, 2, 3, 4, 4, 4, 6, 7, 8, 9, 121]

In [243]:
#일반 퀵정렬
#입력 리스트a
#출력 없음
#범위 지정해서 정렬하는 재귀호출
def quick_sort_sub(a,start,end):
    #종료조건
    if start - end <=0:
        return
    #기준값을 정하고 기주값에 맞춰 리스트 안에서 위치를 맞춘다
    #[기준값보다 작으값들, 기준, 기준값보다 큰값]
    pivot = a[end]
    i =start
    for j in range(start, end):
        if a[j]<=pivot:
            a[i], a[j] = a[j], a[i]
            i = i+1
    a[i], a[end] = a[end], a[i]
    #재귀호출 부분
    quick_sort_sub(a, start,i-1)
    quick_sort_sub(a, i+1, end)

def quick_sort(a):
    quick_sort_sub(a, 0, len(a)-1)
d= [6,9,4,2,121,4,8,1,2,3,4,7]
quick_sort(d)
print(d)

[6, 9, 4, 2, 121, 4, 8, 1, 2, 3, 4, 7]

In [244]:
sorted([5,2,1,4,7])

[1, 2, 4, 5, 7]

In [245]:
a=[5,2,1,4,7]

In [253]:
a.sort(reverse=True)
print(a)

[7, 5, 4, 2, 1]

### 큐 스택

In [2]:
#큐
qu = [] #초기화
qu.append(1) #리스트 맨뒤 자료추가
qu.pop(0) #리스트 맨 앞 자료 빼

1

In [5]:
#스택 
stack =[] #빈리스트 만들자
stack.append(1)
stack.pop(0)

1

In [19]:
#회문 찾기
#펠린드롬

def palindrome(s):
    #큐, 스택 생성
    qu = []
    st = []
    #1. 알파벳의 문자열을 q, stack 에 넣음
    for i in s:
        if i.isalpha:
            qu.append(i.lower()) #문자가 알파벳(공백,숫자가 아니면)
            st.append(i.lower()) #큐, 스택에 넣자
    while qu:
        if qu.pop(0) != st.pop(): #큐와 스택에서 꺼낸 문자가 다르면 회문아님
            return False
        
    return True
        
print(palindrome("woow"))

True

In [22]:
qu = [1,2,3,4,5]
qu.pop(0)

1